{{- $collapsed := default false .Site.Params.sidebar.collapsed }}
<div class="accordion archives">
  <section class="row card component">
    <div class="card-header">
      <h2 class="card-title my-2 fs-4 text-surface d-lg-block">
        <a href="https://doxologia.ro/calendar-ortodox" target="_blank">Calendar Ortodox</a>
      </h2>
    </div>
    <div class="card-body collapse accordion-collapse accordion-body d-lg-block{{ if not $collapsed }} show{{ end }}" id="archives">
      <table width="100%" class="doxo-table"><tr><td ><div  class="w-border w-ev w-ap "><script type="text/javascript">widgetContext_417c8830427f = {"widgetid":"web_widgets_inline_602b4679437414a28c163b73154c8142"};</script><script src="https://doxologia.ro/doxowidgetcalendar"></script><div class="doxowidgetcalendar" id="web_widgets_inline_602b4679437414a28c163b73154c8142"></div></td></tr></table>
    </div>
  </section>
</div>