{{- $collapsed := default false .Site.Params.sidebar.collapsed }}
<div class="accordion archives">
  <section class="row card component">
    <div class="card-header">
      <h2 class="card-title my-2 fs-4 text-surface d-lg-block">
        Programul slujbelor
      </h2>
      <h6 class="card-subtitle mb-2 text-muted">
        <a
                tabindex="0"
                class="ppc-cursor-pointer-on-hover fw-bold"
                data-bs-toggle="tooltip"
                data-bs-trigger="focus"
                data-bs-placement="auto"
                data-bs-title="Anul 7533 de la Facerea lumii"
        >21 - 27 septembrie 2025</a></h6>
    </div>
    <div class="card-body collapse accordion-collapse accordion-body d-lg-block{{ if not $collapsed }} show{{ end }}" id="archives">
      <ul class="archive-posts post-list liturgical-program list-unstyled ms-1">
        <!-- https://doxologia.ro/calendar-ortodox -->
        <li class="mb-2">
          <a
                  tabindex="1"
                  class="ppc-cursor-pointer-on-hover fw-bold"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="focus"
                  data-bs-placement="auto"
                  data-bs-title="Prima zi a săptămânii"
          >Duminică</a>
          <ul>
            <!-- https://ziarullumina.ro/teologie-si-spiritualitate/theologica/predici-189867.html -->
            <!-- https://ziarullumina.ro/calendar-crestin-ortodox -->
            <!-- <li class="day-meaning"><a href="https://ziarullumina.ro/tag/predici-la-sarbatoarea-sfantului-proroc-ilie-tesviteanul-13197.html" target="_blank">(†) Sfântul și slăvitul Proroc Ilie Tesviteanul</a></li> -->
            <li class="day-meaning"><a href="https://ziarullumina.ro/tag/predici-la-duminica-dupa-inaltarea-sfintei-cruci-luarea-crucii-si-urmarea-lui-hristos-12203.html" target="_blank">(†) Duminica după Înălțarea Sfintei Cruci (Luarea crucii și urmarea lui Hristos)</a></li>
            <li>08:00 - 12:00 - Utrenia și Sfânta Liturghie</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Miercuri</strong>
          <ul>
            <li>17:00 - 18:00 - Slujba Vecerniei</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Vineri</strong>
          <ul>
            <li>17:00 - 18:30 - Slujba Vecerniei și Taina Sfântului Maslu</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Sâmbătă</strong>
          <ul>
            <li>08:00 - 10:30 - Utrenia, Sfânta Liturghie și slujba Parastasului</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</div>