{{- $collapsed := default false .Site.Params.sidebar.collapsed }}
<div class="accordion archives">
  <section class="row card component">
    <div class="card-header">
      <h2 class="card-title my-2 fs-4 text-surface d-lg-block">
        Programul slujbelor
      </h2>
      <h6 class="card-subtitle mb-2 text-muted">
        <!-- 5508 -->
        <a
                tabindex="0"
                class="ppc-cursor-pointer-on-hover fw-bold"
                data-bs-toggle="tooltip"
                data-bs-trigger="focus"
                data-bs-placement="auto"
                data-bs-title="Anul 7534 de la Facerea lumii"
        >5 - 11 aprilie 2026</a></h6>
    </div>
    <div class="card-body collapse accordion-collapse accordion-body d-lg-block{{ if not $collapsed }} show{{ end }}" id="archives">
      <ul class="archive-posts post-list liturgical-program list-unstyled ms-1">
        <li class="mb-2">
          <a
                  tabindex="1"
                  class="ppc-cursor-pointer-on-hover fw-bold"
                  data-bs-toggle="tooltip"
                  data-bs-trigger="focus"
                  data-bs-placement="auto"
                  data-bs-title="Prima zi a săptămânii"
          >Duminică</a>
          <ul>
            <!-- https://ziarullumina.ro/teologie-si-spiritualitate/liturgica/ordinea-duminicilor-din-anul-bisericesc-147885.html -->

            <!-- https://ziarullumina.ro/teologie-si-spiritualitate/theologica/predici-189867.html -->
            <!-- https://ziarullumina.ro/calendar-crestin-ortodox -->
            <!-- https://doxologia.ro/calendar-ortodox -->
            <li class="day-meaning"><a href="https://ziarullumina.ro/tag/predici-la-duminica-a-6-a-din-post-a-floriilor-12232.html" target="_blank">(†) Duminica Floriilor</a></li>
            <li>08:00 - 12:00 - Utrenie și Sfânta Liturghie</li>
            <li>17:00 - 18:30 - Denie</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Luni</strong>
          <ul>
            <li class="day-meaning"><a href="https://doxologia.ro/sfanta-marea-zi-luni" target="_blank">Sfânta și Marea Luni</a></li>
            <li>17:00 - 18:30 - Denie</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Marți</strong>
          <ul>
            <li class="day-meaning"><a href="https://doxologia.ro/sfanta-marea-zi-marti" target="_blank">Sfânta și Marea Marți</a></li>
            <li>17:00 - 18:30 - Denie</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Miercuri</strong>
          <ul>
            <li class="day-meaning"><a href="https://doxologia.ro/sfanta-marea-zi-miercuri" target="_blank">Sfânta și Marea Miercuri</a></li>
            <li>08:00 - 11:00 - Liturghia Darurilor înainte sfințite</li>
            <li>17:00 - 18:30 - Denie</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Joi</strong>
          <ul>
            <li class="day-meaning"><a href="https://doxologia.ro/sfanta-marea-zi-joi" target="_blank">Sfânta și Marea Joi</a></li>
            <li>08:00 - 11:30 - Sfânta Liturghie</li>
            <li>17:00 - 20:00 - Denia celor 12 Evanghelii</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Vineri</strong>
          <ul>
            <li class="day-meaning"><a href="https://doxologia.ro/sfanta-marea-zi-vineri" target="_blank">Sfânta și Marea Vineri</a></li>
            <li>12:00 - 13:30 - Vecernia Scoaterii Sfântului Epitaf</li>
            <li>18:00 - 20:30 – Denia Prohodului Domnului</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Sâmbătă</strong>
          <ul>
              <li class="day-meaning"><a href="https://doxologia.ro/sfanta-marea-zi-sambata" target="_blank">(†) Sfânta și Marea Sâmbătă</a></li>
              <li>08:00 - 11:00 – Sfânta Liturghie</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</div>