{{- $collapsed := default false .Site.Params.sidebar.collapsed }}
<div class="accordion archives">
  <section class="row card component">
    <div class="card-header">
      <h2 class="card-title my-2 fs-4 text-surface d-none d-lg-block">
        Programul slujbelor
      </h2>
      <h6 class="card-subtitle mb-2 text-muted"
          data-toggle="tooltip"
          data-placement="top"
          title="Anul 7532 de la Facerea lumii"
          data-original-title="Anul 7532 de la Facerea lumii">8 - 14 Octombrie 2023</h6>
    </div>
    <div class="card-body collapse accordion-collapse accordion-body d-lg-block{{ if not $collapsed }} show{{ end }}" id="archives">
      <ul class="archive-posts post-list liturgical-program list-unstyled ms-1">
        <li class="mb-2">
          <strong>Duminică</strong>
          <ul>
            <li class="day-meaning">Duminica a XX-a după Rusalii</li>
            <li>08:00 - 12:00 - Utrenie și Sfânta Liturghie</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Miercuri</strong>
          <ul>
            <li>17:00 - 18:00 - Vecernie</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Vineri</strong>
          <ul>
            <li>17:00 - 18:00 - Vecernia și Litia pentru hram</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Sâmbătă</strong>
          <ul>
            <li class="day-meaning">Sfânta Cuvioasă Parascheva de la Iași</li>
            <li>08:00 - 12:00 - Utrenie, Sfânta Liturghie de hram și slujba Parastasului pentru ctitori</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</div>