<!--<p>-->
<!--Parohia Parcul Călărași<br>-->
<!--CIF: 12408969<br>-->
<!--IBAN: RO 63 RNCB 0069 1485 3741 0001-->
<!--</p>-->

<p>
<i class="fas fa-fw fa-envelope"></i> <a href="mailto:contact@parohiaparculcalarasi.ro">contact@parohiaparculcalarasi.ro</a>
</p>

<h4>Slujitorii Bisericii</h4>
<ul class="post-list contact-list">
  <li>Părinte paroh Nicolae Giolu
    <ul>
      <li><i class="fas fa-fw fa-envelope"></i> <a href="mailto:nicolae.giolu@parohiaparculcalarasi.ro">nicolae.giolu@parohiaparculcalarasi.ro</a></li>
      <li><i class="fas fa-fw fa-phone-alt"></i> <a href="tel:0722355426">0722.355.426</a></li>
    </ul>
  </li>
  <li>Părinte Iulian Ignat
    <ul>
      <li><i class="fas fa-fw fa-envelope"></i> <a href="mailto:iulian.ignat@parohiaparculcalarasi.ro">iulian.ignat@parohiaparculcalarasi.ro</a></li>
      <li><i class="fas fa-fw fa-phone-alt"></i> <a href="tel:0766732918">0766.732.918</a></li>
    </ul>
  </li>
  <li>Părinte Cristian Todireanu
    <ul>
      <li><i class="fas fa-fw fa-envelope"></i> <a href="mailto:cristian.todireanu@parohiaparculcalarasi.ro">cristian.todireanu@parohiaparculcalarasi.ro</a></li>
      <li><i class="fas fa-fw fa-phone-alt"></i> <a href="tel:0766304549">0766.304.549</a></li>
    </ul>
  </li>
  <li>Arhidiacon Alexandru Briciu
    <ul>
      <li><i class="fas fa-fw fa-envelope"></i> <a href="mailto:alexandru.briciu@parohiaparculcalarasi.ro">alexandru.briciu@parohiaparculcalarasi.ro</a></li>
      <li><i class="fas fa-fw fa-phone-alt"></i> <a href="tel:0724550988">0724.550.988</a></li>
    </ul>
  </li>
</ul>

<h4>Donații</h4>
<ul class="list-unstyled">
  <li>Parohia Parcul Călărași</li>
  <li>IBAN: RO 63 RNCB 0069 1485 3741 0001</li>
  <li>CIF: 12408969</li>
</ul>

<h4>Adresă</h4>
<p><a href="https://www.google.com/maps/place/Biserica+Sfin%C8%9Bii+%C3%8Emp%C4%83ra%C8%9Bi+Constantin+%C8%99i+Elena,+Intrarea+Sectorului+15,+Bucure%C8%99ti/@44.4321364,26.1383093,17z/data=!4m14!1m7!3m6!1s0x40b1fed0c5be83c7:0x840c25f74cc0841e!2zQmlzZXJpY2EgU2ZpbsibaWkgw45tcMSDcmHIm2kgQ29uc3RhbnRpbiDFn2kgRWxlbmE!8m2!3d44.4323902!4d26.1393345!16s%2Fg%2F11c7hg1qcz!3m5!1s0x40b1fed0e6c5eb3b:0xd304d8d55d9c2fcf!8m2!3d44.4320098!4d26.1407181!16s%2Fg%2F11b8tg82zm" target="_blank"><i class="fas fa-fw fa-map-marker-alt"></i> Bd. Basarabia nr. 2, Sector 2, București:</a></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2849.055877830305!2d26.14072!3d44.432016!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1fed0c5be83c7%3A0x840c25f74cc0841e!2zQmlzZXJpY2EgU2ZpbsibaWkgw45tcMSDcmHIm2kgQ29uc3RhbnRpbiDFn2kgRWxlbmE!5e0!3m2!1sro!2sro!4v1749402859183!5m2!1sro!2sro" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<iframe src="https://www.google.com/maps/embed?pb=!4v1749286591254!6m8!1m7!1soRJ2iCALjL86iyRf0Mahkw!2m2!1d44.43220146623629!2d26.14030585989761!3f121.23!4f16.680000000000007!5f1.0063043547592547" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>