<!--<h5>Slujitorii Bisericii</h5>-->
<ul class="post-list contact-list">
  <li>Părinte paroh <strong>Nicolae Giolu</strong>
    <ul>
      <li><i class="fas fa-fw fa-envelope"></i> <a href="mailto:nicolae.giolu@parohiaparculcalarasi.ro">nicolae.giolu@parohiaparculcalarasi.ro</a></li>
      <li><i class="fas fa-fw fa-phone-alt"></i> <a href="tel:0722355426">0722.355.426</a></li>
    </ul>
  </li>
  <li>Părinte <strong>Iulian Ignat</strong>
    <ul>
      <li><i class="fas fa-fw fa-envelope"></i> <a href="mailto:iulian.ignat@parohiaparculcalarasi.ro">iulian.ignat@parohiaparculcalarasi.ro</a></li>
      <li><i class="fas fa-fw fa-phone-alt"></i> <a href="tel:0766732918">0766.732.918</a></li>
    </ul>
  </li>
  <li>Părinte <strong>Cristian Todireanu</strong>
    <ul>
      <li><i class="fas fa-fw fa-envelope"></i> <a href="mailto:cristian.todireanu@parohiaparculcalarasi.ro">cristian.todireanu@parohiaparculcalarasi.ro</a></li>
      <li><i class="fas fa-fw fa-phone-alt"></i> <a href="tel:0766304549">0766.304.549</a></li>
    </ul>
  </li>
  <li>Diacon <strong>Alexandru Briciu</strong>
    <ul>
      <li><i class="fas fa-fw fa-envelope"></i> <a href="mailto:alexandru.briciu@parohiaparculcalarasi.ro">alexandru.briciu@parohiaparculcalarasi.ro</a></li>
      <li><i class="fas fa-fw fa-phone-alt"></i> <a href="tel:0724550988">0724.550.988</a></li>
    </ul>
  </li>
</ul>

<!--<h5>Adresă</h5>-->
<p><a href="https://www.google.com/maps/place/Biserica+Sfin%C8%9Bii+%C3%8Emp%C4%83ra%C8%9Bi+Constantin+%C8%99i+Elena,+Intrarea+Sectorului+15,+Bucure%C8%99ti/@44.4321364,26.1383093,17z/data=!4m14!1m7!3m6!1s0x40b1fed0c5be83c7:0x840c25f74cc0841e!2zQmlzZXJpY2EgU2ZpbsibaWkgw45tcMSDcmHIm2kgQ29uc3RhbnRpbiDFn2kgRWxlbmE!8m2!3d44.4323902!4d26.1393345!16s%2Fg%2F11c7hg1qcz!3m5!1s0x40b1fed0e6c5eb3b:0xd304d8d55d9c2fcf!8m2!3d44.4320098!4d26.1407181!16s%2Fg%2F11b8tg82zm" target="_blank"><i class="fas fa-fw fa-map-marker-alt"></i> Bd. Basarabia nr. 2, Sector 2, București:</a></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2849.0500075211553!2d26.13830933596801!3d44.432136418503426!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1fed0e6c5eb3b%3A0xd304d8d55d9c2fcf!2sBiserica%20Sfin%C8%9Bii%20%C3%8Emp%C4%83ra%C8%9Bi%20Constantin%20%C8%99i%20Elena%2C%20Intrarea%20Sectorului%2015%2C%20Bucure%C8%99ti!5e0!3m2!1sro!2sro!4v1668875960707!5m2!1sro!2sro" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
